body {
    font-family: 'Black Han Sans', sans-serif;
    background-color: #fff9d4;
    margin: 0;
  }
  body {
    background: linear-gradient(to bottom right, #eef8ff, #9dc3fd);
  }
  
  h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-top: 30px;
  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
  }
  
  a {
    color: #0077b5;
  }
  
  h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #333;
  }
  
  p {
    text-align: center;
    line-height: 1.5;
    color: #333;
  }
  img {
    display: block;
    margin: 0 auto;
  }

.float-img-1 {
  position: absolute;
  top: 3;
  left: 0; 
  animation: float 3s ease-in-out infinite; 
}

@keyframes float {
  from { transform: translate(0, 0); }
  65% { transform: translate(0, 15px); }
  to { transform: translate(0, -15px); }
}
.float-img-2 {
  position: absolute; 
  top: 0; 
  right: 0; 
  animation: float 3s ease-in-out infinite; 
}

@keyframes float {
  from { transform: translate(0, 0); }
  65% { transform: translate(0, 15px); }
  to { transform: translate(0, -15px); }
}